{% extends "base.html" %}
{% block title %} Письма {% endblock %}
{% block header %} Письма: {% endblock %}
{% block content %}
    <ul>
    {% for email in inbox_emails %}
        {% if not email.sent_by_you and not email.trashed and not email.archived %}
            <li><a href="{% url 'email_detail' email.id %}">{{ email.subject }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
{% block footer %}
    <a href="{% url 'list_folders' %}">Папки</a>
    <a href="{% url 'send' %}">Отправить письмо</a>
{% endblock %}
