{% extends "base.html" %}
{% block title %}{{ letter.subject }}{% endblock %}
{% block content %}
    <p>Тема: {{ letter.subject }}</p>
    <p>От кого: {{ letter.sender }}</p>
    <p>Кому: {{ letter.recipient }}</p>
    <p>{{ letter.content }}</p>
{% endblock %}
{% block footer %}
    <a href="{% url 'list_folders' %}">Вернуться к папкам</a>
    <a href="{% url 'index' %}">На главную</a>
    <a href="{% url 'move_to_folder' letter.id 'Архив' %}">Переместить в архив</a>
    <a href="{% url 'move_to_folder' letter.id 'Корзина' %}">Переместить корзину</a>
    <a href="{% url 'move_to_folder' letter.id 'Удалённое' %}">Удалить</a>
{% endblock %}