{% extends "base.html" %}
{% block title %}Новое письмо{% endblock %}
{% block header %}Новое письмо{% endblock %}
{% block content %}
    <form method="post" action="{% url 'send' %}">
        {% csrf_token %}
        <label>Кому:</label>
        <input type="text" name="recipient" placeholder="Бася">
        <label>Тема:</label>
        <input type="text" name="subject" placeholder="По работе">
        <label>Сообщение:</label>
        <input type="text" name="content" placeholder="Ну давай того это самое">
        <button type="submit">Отправить</button>
        <a href="{% url 'index' %}">Отмена</a>
    </form>
{% endblock %}