{% extends "base.html" %}
{% block title %} Корзина {% endblock %}
{% block header %} Корзина: {% endblock %}
{% block content %}
    <ul>
    {% for email in emails %}
        {% if email.trashed %}
            <li><a href="{% url 'email_detail' email.id %}">{{ email.subject }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
{% block footer %}
    <a href="{% url 'index' %}">Входящие сообщения</a>
    <a href="{% url 'sent' %}">Отправленные сообщения</a>
    <a href="{% url 'archive' %}">Архив</a>
{% endblock %}